/**
============
SEARCH STYLE
============
*/
$accent_color: #00FFFF;

* {
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 0.08rem;
    color: #FFF;
    padding: 0;
    margin: 0; }

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    color: #fff;
    background-color: #000;
}

h2 {
    margin: 0 1.4rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0.8rem 1.4rem;
    margin: 0;
}

.wrapper {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    border: none;
    height: auto;
    width: 50rem;
    margin: auto;
    padding: 0;
}

.input {
    vertical-align: bottom;
    transition: all 10ms ease-in-out;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid #fff;
    color: #fff;
    font-size: 1em;
    width: 80%;
    height: 2rem;
    margin: auto;
    padding: 0;
}

datalist{
    option{
        label{
            color: red;
            margin: 0 1rem;
        }
    }
}


#search:focus{
    border-color: $accent_color;
}

// next button
div {
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    .next {
        vertical-align: middle;
        width: 100%;
        height: auto;
        margin: auto;
        cursor: pointer;
        overflow: visible;
        fill: #fff;

        rect{
            fill: transparent;
        }
        polygon, path {
            transition: all 0.2s ease-in-out;
        }
        &:hover polygon, &:hover path {
            transition: all 0.2s ease-in-out;
            fill: $accent_color;
        }

        &:hover .arrow {
            animation: arrow-anim 1s ease-in-out infinite;
        }
        &:hover .arrow-fixed {
            animation: arrow-fixed-anim 1s ease-in-out infinite;
        }
    }
}

@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(0.8rem);
        opacity: 0;
    }
}

@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
